

#checkboxContainerColecao label {
    display: block;
    margin: 0;
    padding: 0;
}


.chart-container {
    margin: 20px 0;
}

.detalha-fila {
    position: absolute;
    background-color: lightgray;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: none;
    max-height: 50vh;
    overflow-y: auto;
}