.corpo{
    margin-top: 15px;
    width: 100%;
    color: black;
    font-weight: 100;
}

.status-amarelo {
    background-color: #fff3cd !important;
}

.status-verde {
    background-color: #a4e9b1 !important;
}

.status-cinza {
    background-color: #767676 !important;
    font: aliceblue !important;
}