



.detalha-fila {
    position: absolute;
    background-color: lightgray;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: none;
    max-height: 50vh;
    overflow-y: auto;
}


.card {
    border-radius: 10px;
}

.card p {
    font-size: 20px;
    font-weight: 500;
}

.card-body {
    border-radius: 10px;
}

#legenda label {
    font-weight: 500;
    font-size: 14px;
}

#legenda {
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: white;
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-body {
    padding: 20px;
}

#ModalPendencia {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
    /* Inicialmente oculto */
}

#DivPendencias {
    max-height: 200px;
    /* Ajuste conforme necessário */
    overflow-y: auto;
}

.ModalJustificativa {
    display: none;
    position: absolute;
    background-color: rgb(184, 184, 184);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-left: 50px;
    z-index: 999;
}

@media (min-width: 2134px) {
    #legenda label {
        font-size: 50px;
    }

}

@media (min-width: 1800px) {
    #legenda label {
        font-size: 17px;
    }

}

@keyframes blink {
    0% {
        background-color: initial;
    }

    50% {
        background-color: red;
    }

    100% {
        background-color: initial;
    }
}

.blink {
    animation: blink 1s infinite;
}